
body {
  margin: 0;
  padding: 0;
  font-family:  sans-serif;
  font-size: 16px;
}
html{
  background: #dbdbdb;
}
.row{
  background-color: #fafafa;	
}
.panel-primary{
  border-color: #808084;
  .panel-heading{
    background-color: #c41230;
    border-color: grey;
  }
}
.panel {
    min-height: 100px;
    height: calc(100vh - 100px);
    overflow: hidden;
    box-shadow: 0px 2px 5px 2px grey;
}

.main-container {

  text-align: center;
  height:100vh;

}

header nav ul li a {
   
    color: #c41230;
    float: left;
    margin-top: 8px;
  }
header nav ul {
     text-align: center;
    padding-bottom: 10px;
    padding-left: 30px;
    margin: 0px;
    
    font-weight: 700;
}


header {
  width: 100%;
  padding: 0;
  border-bottom: none;
  margin-bottom: 10px;
  font-size: 36px;
  nav {

    ul {
      text-align: center;

      li {
        display: inline;
        margin-right: 60px;
        color: $stylishRed;
        text-decoration: none; 
        
        a {
          color: $stylishRed;
          text-decoration: none;
        
          &:hover {
          
            text-decoration: none;
          }
        }
      }
    }
  }
}

.panel{
  min-height: 100px;
	height:calc(100vh - 100px);
  overflow: hidden; 
}


.container-fluid {
   background-color: #dbdbdb;
  &.main-container{
    background-color: #dbdbdb;
  }
}
.row{
  &.special{
    background-color: #dbdbdb;
  }
}
.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  &.slow{
      -webkit-animation-duration: 3s !important;
      animation-duration: 3s !important;
  }
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

